.root {
    position: relative;
    margin: 0 20px;
    max-width: 400px;
}

.input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    padding-left: 42px;
    width: 400px;
    border-radius: 10px;
    font-size: 16px;
    outline: none;

    @media (max-width: 1000px) {
        width: 250px;
    }

    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }
    
}

.iconSearch {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 14px;
    top: 10px;
}

.iconClose {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 14px;
    top: 10px;
    opacity: 0.5;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}