.main_fb {
  padding: 100px;
	max-width: 750px;
	margin: 0 auto;
	text-align: center;

  h2 {
    font-size: 48px;
  }

  p {
    font-size: 24px;
    padding: 18px 0;
    font-weight: 700;
  }

  h4 {
    font-size: 32px;
  }
}